@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald);

* {
  box-sizing: border-box;  
}

.site-header {
  margin: .375em;
  text-transform: uppercase;
}
.site-header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}
.site-header h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

.nav-sidebar {
  background: #333333;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.result-list {
  list-style-type: none;
  width: 100%;
}
.result {
  display: block;
  float: left;
  text-transform: uppercase;
  width: 100%;
}
.result-link {
  background: #00b4ff;
  color: #fff;
  display: block;
  margin: .375em;
  min-height: 320px;
  padding: 1em;
  position: relative;
  text-decoration: none;
}
.result-link:hover {
  background: #007eb3;
}
.result-header {
  bottom: .5em;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  left: .5em;
  position: absolute;
}
.result-info-list {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
}
.result-info {
  font-size: .5em;
}

@media screen and (min-width: 640px) {
  .nav-sidebar {
    float: left;
    min-height: 100vh;
    width: 33.33333%;
  }
  .result-list {
    float: left;
    min-height: 100vh;
    width: 66.66666%;
  }
  .result {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .nav-sidebar {
    width: 25%;
  }
  .result-list {
    width: 75%;
  }
  .result {
    width: 33.33333%;
  }
}

@media screen and (min-width: 1280px) {
  .nav-sidebar {
    width: 16.6666667%;
  }
  .result-list {
    width: 83.3333333%;
  }
  .result {
    width: 25%;
  }
}
